
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

main {
    max-width: auto;
    margin: 40px;
    margin-left: 120px;
    margin-right: 120px;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.back-link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #6a5acd;
}

.back-link:hover {
    text-decoration: underline;
}

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 400px;
}

.product-image p {
    font-size: 16px;
    color: #333;
}

.product-details {
    flex: 2;
    padding: 10px;

}

.product-details h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.product-details p {
    margin: 8px 0;
    font-size: 1em;
    margin-bottom: 25px;
}

.old-price {
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}

.new-price {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}

form {
    margin-top: 10px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.add-to-cart {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.add-to-cart:hover {
    background-color: #218838;
}


